
fastapi==0.97.0
uvicorn==0.22.0
routeros_api==0.17.0
librouteros==3.2.0
python-dotenv==1.0.0
jinja2==3.1.2
matplotlib==3.7.1
sqlalchemy==2.0.15
pyjwt==2.7.0
python-multipart==0.0.6
websockets==11.0.3
aiofiles==23.1.0
